<strong>Olá, {{ student }}</strong>
<p><strong>Sua resposta da pergunta: </strong> "{{ question }}" <strong>acabou de chegar</strong></p>
<p><strong>Respota:</strong> "{{ answer }}"</p>
<p>Respondida em {{ answer_at }} </p>
